/*<link href="//db.onlinewebfonts.com/c/6a17929c7360288d1242981da7712dc3?family=Torus+Notched" 
          rel="stylesheet"
          type="text/css"/>

          <script src="https://kit.fontawesome.com/0c87a70838.js"></script>
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "poppins";
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "torus notched";
}

body {
    overflow-x: hidden;
    max-width: 1920px;
}
            /* HEADER */
header{
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
    
}

header .container{
    width: 1500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
}

header .container ul{
    display: flex;
    align-items: center;
    
    
}   

header .container ul a{
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 20px;
    
}

.boite{
    margin-top: 120px;
    width: 100%;
    height: 50vh;
}

.boite .box{
    
    height: 40px;
    width: fit-content;
    background-color: gray;
    display: block;
    margin: auto;
}


.box p{
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 18px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    font-weight: bold; 
}
 